<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head th:replace="fragments/config :: Config">
    <title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">공통 타이틀</title>
</head>
<body>
    <!-- Header -->
    <header th:replace="fragments/header :: Header"></header>
    <!-- Content -->
    <th:block layout:fragment="Content"></th:block>
    <!-- Footer -->
    <footer th:replace="fragments/footer :: Footer"></footer>
</body>
</html>